<!DOCTYPE html>
<html>
<body>

<h2>Server Naming</h2>

<form action="/results/" method="post">
	{% csrf_token %}
	{{form}}
  <!-- <fieldset>
    <legend>Sever Naming:</legend>
		<h3>OS</h3>
			<label>Linux</label>
			<input type="radio" name="OS" value="linux">
			<br>
			<label>Windows</label>
	    	<input type="radio" name= "OS" value= "windows">	
     <br>
		<h3>Role</h3
			<label>Web</label>
			<input type="radio" name = "role" value = "Web">
		<br>
			<label>App</label>
			<input type="radio" name = "role" value="App">
		<br>
			<label>Database</label>
			<input type="radio" name = "role" value ="Database">
		<br>
			<label>Storage</label>
	    	<input type="radio" name = "role" value = "Storage">
    <br>
		<h3>Purpose</h3
			<label>Non-Production</label>
			<input type="radio" name = "Purpose" value = "NP">
		<br>
			<label>Production</label>
			<input type="radio" name = "Purpose" value = "PRD">
		<br>
			<label>Test</label>
			<input type="radio" name = "Purpose" value = "Test">
		<br><br>  -->
	<input type="submit" value="Submit">
  </fieldset>
</form>
{{value}}

</body>
</html>
