<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Linux Server Naming</title>
    </head>
    <body>
        <nav>
            <button onclick="window.location.href = '/home/';" style="font-size: large;">Home</button>
            <button onclick="window.location.href = '/form/';" style="font-size: large;">Server Naming Form</button>
            <button onclick="window.location.href = '/displayserver/';"" style="font-size: large;">Last created server name</button>
            <button onclick="window.location.href = '/displaylinux/';" style="font-size: large;">Linux Servers</button>
            <button onclick="window.location.href = '/displaywindows/';" style="font-size: large;">Windows Servers</button>
            <!-- This button does not work currently -->
            <!-- <button onclick="window.location.href = '/displaylinux/';" style="font-size: large;">Export database</button>
            <button onclick="window.location.href = '/displaylinux/';" style="font-size: large;">Audit</button> -->
            <button onclick="window.location.href = '/admin/';" style="font-size: large;">Admin</button>
        </nav>
        <hr>
        <h1 style="text-align: center;">Server Names</h1>
        <h2 style="text-align: center;">Most recent server: {{currentServer.serverName}}</h2>
        <hr>
        <!-- <button onclick="window.location.href = '/form/';" style="font-size: large;">Create another server name</button>
        <button onclick="window.location.href = '/displaywindows/';" style="font-size: large;">Windows Servers</button>
        <button onclick="window.location.href = '/displayserver/';"" style="font-size: large;">Last created server name</button> -->
        <br>
        <br>
        <table border="1" width = "100%">
        <tr valign="top">
            <td>
                <b><label>Production</label></b><br>
                <b><label>Web</label></b>
                <hr>
                {% for server in columnSets.12 %}
                    {{server.serverName}}
                    <br>
                    <!-- Alias: {{server.alias}} future feature-->
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Production</label></b><br>
                <b><label>App</label></b>
                <hr>
                {% for server in columnSets.13%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Production</label></b><br>
                <b><label>Database</label></b>
                <hr>
                {% for server in columnSets.14%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Production</label></b><br>
                <b><label>Storage</label></b>
                <hr>
                {% for server in columnSets.15%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Non-Production</label></b><br>
                <b><label>Web</label></b>
                <hr>
                {% for server in columnSets.16%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Non-Production</label></b><br>
                <b><label>App</label></b>
                <hr>
                {% for server in columnSets.17%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Non-Production</label></b><br>
                <b><label>Database</label></b>
                <hr>
                {% for server in columnSets.18%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Non-Production</label></b><br>
                <b><label>Storage</label></b>
                <hr>
                {% for server in columnSets.19%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Test</label></b><br>
                <b><label>Web</label></b>
                <hr>
                {% for server in columnSets.20%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Test</label></b><br>
                <b><label>App</label></b>
                <hr>
                {% for server in columnSets.21%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Test</label></b><br>
                <b><label>Database</label></b>
                <hr>
                {% for server in columnSets.22%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td><td>
                <b><label>Test</label></b><br>
                <b><label>Storage</label></b>
                <hr>
                {% for server in columnSets.23%}
                    {{server.serverName}}
                    <hr>
                {% endfor %}
            </td>
        </tr>
        </table>
    </body>
</html>