<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Django test</title>
</head>
<body>
    <h3>Current Server Name: {{currentServer.serverName}}</h3>
    <button onclick="window.location.href = '/form/';" style="font-size: large;">Create another server name</button>
    <button onclick="window.location.href = '/displaywindows/';" style="font-size: large;">Windows Servers</button>
    <button onclick="window.location.href = '/displaylinux/';"" style="font-size: large;">Linux Servers</button>
</body>
</html>

