<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Server Naming Form</title>
</head>
  {% load static %}
  <script src = "{% static 'displayserver.js' %}"></script>
  <link rel = "stylesheet" type = "text/css" href = "{% static 'displayserver.css' %}">
  <nav>
    <button onclick= "copyAlert('/home/')" style="font-size: large;">Home</button>
    <button onclick="copyAlert('/form/')" style="font-size: large;">Server Naming Form</button>
    <button onclick="copyAlert('/displayserver/')" style="font-size: large;">Last created server name</button>
    <button onclick="copyAlert('/displaylinux/')" style="font-size: large;">Linux Servers</button>
    <button onclick="copyAlert('/displaywindows/')" style="font-size: large;">Windows Servers</button>
    <!-- <button onclick="copyAlert('/admin/')" style="font-size: large;">Admin</button> -->
</nav>
  <hr>
    
    <h1>Last server created: {{currentServer.serverName}}</h1>
    <!-- <button onclick="window.location.href = '/form/';" style="font-size: large;">Create another server name</button>
    <button onclick="window.location.href = '/displaywindows/';" style="font-size: large;">Windows Servers</button>
    <button onclick="window.location.href = '/displaylinux/';"" style="font-size: large;">Linux Servers</button> -->
</body>
</html>

