<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Server Naming Form</title>
  </head>
  <body>
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'form.css' %}">
    <nav>
      <button onclick="window.location.href = '/home/';" style="font-size: large;">Home</button>
      <button onclick="window.location.href = '/form/';" style="font-size: large;">Server Naming Form</button>
      <button onclick="window.location.href = '/displayserver/';"" style="font-size: large;">Last created server name</button>
      <button onclick="window.location.href = '/displaylinux/';" style="font-size: large;">Linux Servers</button>
      <button onclick="window.location.href = '/displaywindows/';" style="font-size: large;">Windows Servers</button>
      <!-- This button does not work currently -->
      <!-- <button onclick="window.location.href = '/displaylinux/';" style="font-size: large;">Export database</button>
      <button onclick="window.location.href = '/displaylinux/';" style="font-size: large;">Audit</button> -->
      <!-- <button onclick="window.location.href = '/admin/';" style="font-size: large;">Admin</button> -->
    </nav>
    <hr>
    <div class = "form">
      <h2>Server Naming</h2>
      {{error}}
      <form action="/form/" method="post">
        {% csrf_token %}
        <table class = "table">
              {{form.as_table}}
        </table>
        <br>
        <button type="submit" value="Submit" class = "submit">Submit</button>
        </fieldset>
      </form>
      {{value}}
    </div>

  </body>
</html>
